.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chip{
  margin-top: 100px;
  width: 800px;
  height: 600px;
}

.input{
  border: none;
  height: 38px;
  outline: none;
  box-sizing: border-box;
}